<!-- D:\Python\myProject\bookshelves\app\users\templates\users\register.html -->

{% extends 'main/base.html' %}
{% load static %}

{% block head %}
<link type="text/css" href="{% static 'users/css/register.css' %}" rel="stylesheet"/>
{% endblock head %}

{% block content %}
<i></i>
<form class="registration" method="post" action="{% url 'register' %}">
    <h2>Регистрация нового пользователя</h2>
    {% csrf_token %}
    <div class="register-form">
        {% for field in form %}
            {% if field.name == 'familiarized' %}
                {{ field }}
               <span> {{ field.label_tag }}<br>
                   <a href="{{ '/main/infopage/politika-konfidencialnosti/' }}">Политикой конфиденциальности</a><br>
                   <a href="{{ '/main/infopage/polzovatelskoe-soglashenie/' }}">Пользовательским соглашением</a>
               </span>
            {% else %}
                {{ field.label_tag }}
                {{ field }}
            {% endif %}
        {% endfor %}

        <button type="submit">Зарегистрироваться</button>
        <div class="login-link">
            <hr>
            Уже есть аккаунт? <a href="{% url 'login' %}">Войти</a>
        </div>
    </div>

</form>
{% endblock %}
